<% layout('layouts/boilerplate') %>
<div id="cluster-map"></div>
<h1>All events</h1>
<div>
  <a href="/events/new">Add an event</a>
</div>
<% for(let event of events) {%>
<div class="card mb-3">
  <div class="row">
    <div class="col-md-4">
        <% if(event.images.length) {%> 
      <img class="img-fluid" src="<%=event.images[0].url%>" alt="" />
      <% }else { %> 
       <img class="img-fluid" src="https://res.cloudinary.com/dpli6i46n/image/upload/v1633956718/Eventify/qrle8j07nhyfrj9rrdbx.jpg" alt="" />
     <%  }%> 
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= event.title %></h5>
        <p class="card-text"><%= event.description %></p>
        <p class="card-text">
          <small class="text-muted"><%= event.location %></small>
        </p>
        <a class="btn btn-primary" href="/events/<%=event._id%>"
          >View <%=event.title %></a
        >
      </div>
    </div>
  </div>
</div>
<% }%>

<script>
const events = {features: <%- JSON.stringify(events)%>}
</script>

<script src="/javascript/clusterMap.js"></script>